<link rel="import" href="../../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../../bower_components/paper-material/paper-material.html">


<dom-module id="comment-block">
  <template>
    <style include="iron-flex iron-flex-alignment iron-flex-factors">
      :host .text .hover {
        text-decoration: underline;
        font-weight: bold;
        cursor: pointer;
      }

      :host .text .hover:hover {
        background-color: yellow;
      }

      :host #comment-block-content {
        padding: 10px;
      }

      :host .title {
        margin: 0;
        padding: 0;
      }

      :host .text {
        font-size: 0.8em;
      }
    </style>

    <paper-material>
      <div id="comment-block-content">
        <h3 class="title" id="comment-title">{{comment.title}}</h3>
        <hr>
        <div class="text" id="comment-text"></div>
      </div>
    </paper-material>
  </template>

  <script>
    Polymer({
      is: 'comment-block',
      properties: {
        comment: {
          type: Object,
          observer: '_renderComment'
        }
      },
      observers: [
        '_renderText(comment.text)'
      ],
      _renderComment: function(data) {
        console.log(data);
      },
      _renderText: function(text) {
        var el = this.$$('#comment-text');
        el.innerHTML = text;
        var nodes = Polymer.dom(el).childNodes;
        for (var i in nodes) {
          if (nodes[i].getAttribute && nodes[i].getAttribute('data-node-id') && nodes[i].getAttribute('data-node-id').length > 0) {
            // var nodeId = nodes[i].getAttribute('data-node-id');
            var node = nodes[i];
            node.addEventListener('mouseover', this._mouseoverNode.bind(this));
            node.addEventListener('mouseout', this._mouseoutNode.bind(this));
            node.addEventListener('tap', this._tapNode.bind(this));
          }
        }

      },
      _mouseoverNode: function(e) {
        var nodeId = e.target.getAttribute('data-node-id');
        var node = this.comment.nodes[nodeId];
        this.fire('mouseover-node', {node: node, text: e.target.innerHTML}, {bubbles: false});
      },
      _mouseoutNode: function(e) {
        this.fire('mouseout-node', {}, {bubbles: false});
      },
      _tapNode: function(e) {
        this.fire('close-edit-activity', {}, {bubbles: false});
        var nodeId = e.target.getAttribute('data-node-id');
        var node = this.comment.nodes[nodeId];
        this.fire('mouseover-node', {node: node, text: e.target.innerHTML, open: true}, {bubbles: false});
      }
    })
  </script>
</dom-module>