<link rel="import" href="../../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../../bower_components/polymerfire/firebase-query.html">
<link rel="import" href="comment-block.html">
<link rel="import" href="new-comment-block.html">

<dom-module id="discussion-block">
  <template>
    <style include="iron-flex iron-flex-alignment iron-flex-factors">
      :host .text .hover {
        text-decoration: underline;
        font-weight: bold;
        cursor: pointer;
      }

      :host .text .hover:hover {
        background-color: yellow;
      }

      :host #discussion-block-content {
        padding: 10px;
      }

      :host .title {
        margin: 0;
        padding: 0;
      }

      :host .text {
        font-size: 0.8em;
      }

      :host .comments {
        margin-left: 20px;
      }
    </style>

    <firebase-query
      id="commentquery"
      path="/korero/[[videoid]]/comments/[[discussion.$key]]"
      data="{{commentdata}}">
    </firebase-query>

    <paper-material>
      <div id="discussion-block-content">
        <h3 class="title" id="discussion-title">{{discussion.title}}</h3>
        <hr>
        <div class="text" id="discussion-text"></div>
      </div>
      <template is="dom-if" if="{{!viewNewCommentBlock}}">
      <div class="">
        <paper-button on-tap="reply">
          Reply
        </paper-button>
      </div>
      </template>

      <template is="dom-if" if="{{viewNewCommentBlock}}">
        <new-comment-block
          id="new-comment-block"
          ui="[[ui]]"
          videoid="[[videoid]]"
          discussionid = "[[discussion.$key]]"
          on-ready-edit-comment-activity="_readyEditActivity"
          on-edit-comment-activity="_editActivity"
          on-open-thumbnail-block="_openThumbnailBlock"
          on-mouseover-node="_openThumbnailBlock"
          on-mouseout-node="_mouseoutNode"
          on-tap-node="_openThumbnailBlock"
          on-close-thumbnail="_closeThumbnailBlock"
          on-close-edit-activity="_closeEditActivity"
          on-start-comment-linking="_startCommentLinking"
          on-cancel-comment="_cancelComment"
          on-save-comment="_saveComment"
          user="[[user]]"
        ></new-comment-block>
      </template>

      <div class="comments">
        <template is="dom-repeat" items="{{commentdata}}">
          <comment-block
            comment="{{item}}"
            ui="[[ui]]"
            on-mouseover-node="_openThumbnailBlock"
            on-mouseout-node="_mouseoutNode"
            on-tap-node="_openThumbnailBlock"
            on-close-edit-activity="_closeEditActivity"
          ></comment-block>
        </template>
      </div>

    </paper-material>
  </template>

  <script>
    Polymer({
      is: 'discussion-block',
      properties: {
        discussion: {
          type: Object,
          observer: '_renderDiscussion'
        },
        viewNewCommentBlock: {
          type: Boolean,
          value: false
        },
        ui: {
          type: String
        },
        comments: {
          type: Object,
        }
      },
      observers: [
        '_renderDiscussionText(discussion.text)',
        'check(comments.*)'
      ],
      _renderDiscussion: function(data) {
        console.log(data);
      },
      check: function(e) {
        console.log(e)
        console.log(this.$.commentquery.data)
        console.log(this.comments)
      },
      _renderDiscussionText: function(text) {
        var el = this.$$('#discussion-text');
        el.innerHTML = text;
        var nodes = Polymer.dom(el).childNodes;
        for (var i in nodes) {
          if (nodes[i].getAttribute && nodes[i].getAttribute('data-node-id') && nodes[i].getAttribute('data-node-id').length > 0) {
            // var nodeId = nodes[i].getAttribute('data-node-id');
            var node = nodes[i];
            node.addEventListener('mouseover', this._mouseoverNode.bind(this));
            node.addEventListener('mouseout', this._mouseoutNode.bind(this));
            node.addEventListener('tap', this._tapNode.bind(this));
          }
        }

      },
      _mouseoverNode: function(e) {
        if (this.ui === 'korero') {
          var nodeId = e.target.getAttribute('data-node-id');
          var node = this.discussion.nodes[nodeId];
          this.fire('mouseover-node', {node: node, text: e.target.innerHTML}, {bubbles: false});
        }
      },
      _mouseoutNode: function(e) {
        this.fire('mouseout-node', {}, {bubbles: false});
      },
      _tapNode: function(e) {
        if (this.ui === 'korero') {
          this.fire('close-edit-activity', {}, {bubbles: false});
          var nodeId = e.target.getAttribute('data-node-id');
          var node = this.discussion.nodes[nodeId];
          this.fire('mouseover-node', {node: node, text: e.target.innerHTML, open: true}, {bubbles: false});
        } else {
          for (var i in node.refers) {
            if (node.refers[i].file) {
              window.open(node.refers[i].file);
              return;
            }
          }
        }

      },
      _readyEditActivity: function() {
        this.fire('ready-edit-comment-activity', {}, {bubbles: false});
      },
      _editActivity: function(e) {
        if (e.model) {
          this.fire('edit-comment-activity', e.detail, {bubbles: false});
        }
      },
      _closeEditActivity: function() {
        this.fire('close-edit-comment-activity', {}, {bubbles: false});
      },
      cancelEditActivity: function() {
        this.$$('#new-comment-block').cancelEditActivity();
      },
      saveEditActivity: function(data) {
        this.$$('#new-comment-block').saveEditActivity(data);
      },
      reply: function() {
        this.viewNewCommentBlock = true;
        setTimeout(function(){
          this.$$('#new-comment-block').newComment();
        }.bind(this), 100);

      },
      _openThumbnailBlock: function(e) {
        this.fire('open-thumbnail-block', e.detail, {bubbles: false});
      },
      closedThumbnailBlock: function() {
        if (this.viewNewCommentBlock) {
          this.$$('#new-comment-block').closedThumbnailBlock();
        }
      },
      _startCommentLinking: function(e) {
        this.fire('start-comment-linking', e.detail, {bubbles: false});
      },
      saveLinking: function(data) {
        if (this.viewNewCommentBlock) {
          this.$$('#new-comment-block').saveLinking(data);
        }
      },
      _cancelComment: function() {
        this.viewNewCommentBlock = false;
      },
      _saveComment: function() {
        this._cancelComment();
      }
    })
  </script>
</dom-module>