<link rel="import" href="../../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../../../bower_components/paper-toast/paper-toast.html">
<script src="../../../../../bower_components/chance/chance.js"></script>
<script src="../js/pdf.js"></script>

<dom-module id="new-comment-block">
  <template>
    <style include="iron-flex iron-flex-alignment iron-flex-factors">
      :host .text .hover {
        text-decoration: underline;
        font-weight: bold;
        cursor: pointer;
      }

      :host .text .hover:hover {
        background-color: yellow;
      }

      :host .title {
        margin: 0;
        padding: 0;
      }

      :host .text {
        font-size: 0.8em;
      }

      :host #new-comment-block-content {
        padding: 20px;
        padding-top: 10px;
      }

      :host #text {
        min-height: 20px;
        padding: 10px;
        background-color: #FFF;
      }

      :host #options {
        position: absolute;
        background-color: #FFF;
        z-index: 10;
        padding: 15px;
      }

      :host .refer {
        background-color: yellow;
      }

      :host .text .hover {
        text-decoration: underline;
        font-weight: bold;
        cursor: pointer;
      }

      :host .text .hover:hover {
        background-color: yellow;
      }
    </style>

    <paper-material>
      <div id="new-comment-block-content">
        New Comment:
        <div
          id="text"
          class="text"
          contenteditable
          on-tap="commentChange"
          on-track="commentChange"
          on-keydown="commentChange">
        </div>
        <div class="">
          <paper-button on-tap="cancel">
            Cancel
          </paper-button>
          <paper-button on-tap="post">
            Post
          </paper-button>
        </div>
        <paper-material id="options">
          <template is="dom-if" if="{{viewOptions}}">
            <paper-icon-button
              icon="editor:format-bold"
              on-tap="bold">
            </paper-icon-button>
            <paper-icon-button
              icon="editor:format-italic"
              on-tap="italics">
            </paper-icon-button>
            <paper-icon-button
              icon="editor:insert-drive-file"
              on-tap="refer">
            </paper-icon-button>
          </template>
          <template is="dom-if" if="{{viewRefer}}">
            <div class="refer-view">
              <b>Reference this term to:</b><br/>
              <paper-button raised on-tap="linkvideo">This Lecture Video</paper-button><br/>
              <paper-input label="Put link to external PDF" id="external"></paper-input>
              <paper-button raised on-tap="link">Link File</paper-button><br/>
            </div>
          </template>
        </paper-material>
      </div>
    </paper-material>
    <paper-toast id="toaster"></paper-toast>
  </template>

  <script>
    Polymer({
      is: 'new-comment-block',
      properties: {
        discussion: {
          type: Object,
        },
        selected: {
          type: Object
        },
        node: {
          type: Object
        },
        viewOptions: {
          type: Boolean,
          value: false
        },
        viewRefer: {
          type: Boolean,
          value: false
        },
        discussionid: {
          type: String
        },
        user: {
          type: Object
        }
      },

      behaviors: [
        Polymer.UtilsBehavior
      ],

      newComment: function() {
        this.discussion = {
          text: '',
          nodes: {},
          ui: this.ui
        };
        this.$$('#text').innerHTML = '';
        this.$$('#options').setAttribute('style', 'display: none');
      },

      commentChange: function(e) {
        if (this.node) {
          this.checkNode();
        }
        this.selected = this.showSelectionDiv();
        this.viewOptions = true;
        this.viewRefer = false;
        this.openHover();
      },

      checkNode: function() {
        if (this.node) {
          var nodeId = this.node.getAttribute('data-node-id');
          var hasNode = false;
          for (var i in this.discussion.nodes[nodeId].refers) {
            if (this.discussion.nodes[nodeId].refers[i]) {
              hasNode = true;
              break;
            }
          }
          if (!hasNode && this.selected) {
            this.selected.range.deleteContents();
            this.selected.range.insertNode(document.createTextNode(this.node.innerHTML));
            this.selected = null;
            this.fire('close-edit-activity', {}, {bubbles: false});
            this.node = null;
          } else {
            this.fire('close-thumbnail', {}, {bubbles: false});
          }
        }
      },

      openHover: function() {
        if (this.selected.text && this.selected.text.length > 0) {
          var elRect = this.$$('#new-comment-block-content').getBoundingClientRect();
          var top = (this.selected.pos.top - elRect.top) + this.selected.pos.height;
          var left = (this.selected.pos.left) - elRect.left;
          if (elRect.width - left < 200) {
            left = elRect.width - 200;
          }
          this.$$('#options').setAttribute('style', `top: ${top}px; left: ${left}px; display: block`);
        } else {
          this.$$('#options').setAttribute('style', `display: none`);
        }
      },

      bold: function(e) {
        if (this.selected.text && this.selected.text.length > 0) {
          var node = document.createElement('b');
          node.innerHTML = this.selected.text;
          this.selected.range.deleteContents();
          this.selected.range.insertNode(node);
          this.$$('#options').setAttribute('style', `display: none`);
        }
      },

      italics: function(e) {
        if (this.selected.text && this.selected.text.length > 0) {
          var node = document.createElement('i');
          node.innerHTML = this.selected.text;
          this.selected.range.deleteContents();
          this.selected.range.insertNode(node);
          this.$$('#options').setAttribute('style', `display: none`);
        }
      },

      refer: function(e) {
        if (this.selected.text && this.selected.text.length > 0) {
          this.node = document.createElement('span');
          this.node.innerHTML = this.selected.text;
          this.node.classList = ['refer'];
          var id = chance.string({pool: 'abcdefghijklmnopqrstuvwxyz', length: 10});
          this.node.setAttribute('data-node-id', id)
          this.discussion.nodes[id] = {
            refers: {}
          };
          this.selected.range.deleteContents();
          this.selected.range.insertNode(this.node);
          this.viewOptions = false;
          this.viewRefer = true;
        }
      },

      referMore: function() {
        this.viewOptions = false;
        this.viewRefer = true;
        this.openHover();
      },

      link: function(e) {
        this.referViewerPdf = null;
        this.fire('ready-edit-comment-activity', {}, {bubbles: false});
        PDFJS.getDocument(this.$$('#external').value).then(function(pdf){
          this.fire('edit-comment-activity', {pdf: pdf, file: this.$$('#external').value, discussionid: this.discussionid}, {bubbles: false});
          this.$$('#external').value = '';
          this.$$('#options').setAttribute('style', `display: none`);
        }.bind(this)).catch(function(err){
          console.log(err);
          this.$.toaster.show(err.message);
        }.bind(this));
        this.viewOptions = false;
        this.viewRefer = true;
      },

      cancelEditActivity: function() {
        this.checkNode();
      },

      saveEditActivity: function(data) {
        var nodeId = this.node.getAttribute('data-node-id');
        var referId = null;
        do {
          referId = chance.string({pool: 'abcdefghijklmnopqrstuvwxyz', length: 10});
        } while (this.discussion.nodes[nodeId].refers[referId]);
        // console.log(data);
        this.discussion.nodes[nodeId].refers[referId] = data;
        this.fire('open-thumbnail-block', {node: this.discussion.nodes[nodeId], text: this.node.innerHTML, newDiscussion: true, open: true}, {bubbles: false})
      },

      closedThumbnailBlock: function() {
        if (this.node) {
          var nodeId = this.node.getAttribute('data-node-id');
          var flag = false;
          // console.log(this.discussion.nodes[nodeId]);
          for (var i in this.discussion.nodes[nodeId].refers) {
            if (this.discussion.nodes[nodeId].refers[i]) {
              flag = true;
              break;
            }
          }
          if (flag) {
            this.node.classList = ['hover'];
            this.node.addEventListener('mouseover', this._mouseoverNode.bind(this));
            this.node.addEventListener('mouseout', this._mouseoutNode.bind(this));
            this.node.addEventListener('tap', this._tapNode.bind(this));
            this.node = null;
          }
          // } else {
          //   // delete(this.discussion.nodes[nodeId]);
          // }
        }
      },

      _mouseoverNode: function(e) {
        var nodeId = e.target.getAttribute('data-node-id');
        var node = this.discussion.nodes[nodeId];
        console.log(node);
        this.fire('mouseover-node', {node: node, text: e.target.innerHTML}, {bubbles: false});
      },
      _mouseoutNode: function(e) {
        this.fire('mouseout-node', {}, {bubbles: false});
      },
      _tapNode: function(e) {
        this.closedThumbnailBlock();
        this.fire('close-edit-activity', {}, {bubbles: false});
        var nodeId = e.target.getAttribute('data-node-id');
        var node = this.discussion.nodes[nodeId];
        this.fire('mouseover-node', {node: node, text: e.target.innerHTML, open: true}, {bubbles: false});
      },

      saveLinking: function(data) {
        var nodeId = this.node.getAttribute('data-node-id');
        var referId = null;
        do {
          referId = chance.string({pool: 'abcdefghijklmnopqrstuvwxyz', length: 10});
        } while (this.discussion.nodes[nodeId].refers[referId]);
        console.log(data);
        this.discussion.nodes[nodeId].refers[referId] = {
          boxes: {
            root: data
          }
        };
        this.fire('open-thumbnail-block', {node: this.discussion.nodes[nodeId], text: this.node.innerHTML, newDiscussion: true, open: true}, {bubbles: false})
      },

      linkvideo: function() {
        this.fire('start-comment-linking', {discussionid: this.discussionid}, {bubbles: false});
        this.viewOptions = false;
        this.viewRefer = true;
        this.$$('#options').setAttribute('style', `display: none`);
      },

      cancel: function() {
        this.fire('cancel-comment', {}, {bubbles: false});
      },

      post: function() {
        // this.set('discussion.title', this.$$('#title').value);
        this.set('discussion.text', this.$$('#text').innerHTML);
        this.set('discussion.user', this.user.uid);
        var ref = '/korero/' + this.videoid + "/comments/" + this.discussionid + "/comment-" + chance.string({pool: 'abcdefghijklmnopqrstuvwxyz', length: 20})

        firebase.database().ref(ref).set(this.discussion).then(function(){
          this.$.toaster.show('Saved');
          this.fire('save-comment', {}, {bubbles: false});
        }.bind(this)).catch(function(err){
          this.$.toaster.show(err.message);
        }.bind(this));
      }
    })
  </script>
</dom-module>